@import 'tailwindcss';

@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans-serif: var(--font-inter);
  --font-serif: var(--font-cinzel);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans-serif), sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-serif), serif;
  letter-spacing: 0.05em;
}

.current-civ {
  font-weight: 700;
  font-family: var(--font-serif), serif;
  letter-spacing: 0.05em;
}

@layer components {
  button {
    @apply rounded border border-gray-500 p-3 py-2 hover:border-gray-600 active:border-gray-700 disabled:border-gray-300 disabled:text-gray-400;

    @variant disabled {
      @apply cursor-not-allowed;
    }
  }

  a {
    @apply underline;
  }
}
