@import 'tailwindcss';

@plugin "@tailwindcss/typography";

:root {
  --background: var(--color-gray-50);
  --foreground: var(--color-gray-950);
  --foreground-error: var(--color-red-600);

  @variant dark {
    --background: var(--color-gray-950);
    --foreground: var(--color-gray-50);
    --foreground-error: var(--color-red-300);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-error: var(--foreground-error);
}

body,
.page-layout {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .invert-color {
    background: var(--foreground);
    color: var(--background);
  }

  .link {
    @apply cursor-pointer font-semibold underline;

    @variant hover {
      @apply decoration-2;
    }
  }

  .button {
    @apply rounded border border-gray-500 p-3 py-2 hover:border-gray-600 active:border-gray-700 disabled:border-gray-300 disabled:text-gray-400;

    @variant disabled {
      @apply cursor-not-allowed;
    }
  }

  .app {
    background: var(--background);
    color: var(--foreground);

    @apply grid min-h-screen min-w-screen place-items-center content-center;
  }

  .page {
    @apply grid w-full max-w-4xl p-8 pb-20 sm:p-20;
  }

  .error {
    color: var(--color-foreground-error);
  }

  .randomizing {
    grid-template:
      'header' auto
      'controls' 1fr
      'roster' auto / 1fr;
    @apply gap-16;

    & > header {
      grid-area: header;
    }
    & > .controls {
      grid-area: controls;
      @apply grid place-items-center gap-6;
    }
    & > .roster {
      grid-area: roster;
    }

    .buttons-container {
      @apply flex flex-col items-center gap-4;
    }

    .buttons {
      @apply flex items-center gap-3;
    }
  }

  .configuring {
    @apply gap-8;

    .close {
      @apply absolute top-4 right-4;
    }

    .civs {
      @apply grid gap-y-2 sm:grid-cols-2 md:grid-cols-3;
    }
  }

  .current-civ {
    @apply grid h-[200px] w-[200px] place-items-center gap-3 overflow-hidden text-2xl shadow-2xl;

    .content {
      @apply absolute grid h-full w-full place-items-center content-center gap-2;
    }
  }

  .played-check {
    @apply absolute inset-0 grid place-items-center;
  }
}
